<!--COMPLETE.-->
<!--Movie details page for hardcoded database clicked from the homepage.-->

<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles.css">        
    </head>

    <body>
        <div class="container">
            <div id="movie-details">
                <h1 class="text-center" style="padding-bottom: 20px;"><%= foundMovie.title %></h1>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <img class="movie-poster" class="img-responsive" style="padding-bottom: 20px;" src=<%= foundMovie.poster %> />
                    </div>
                    <!--Had to inline style because browser console wasn't recognizing css?-->
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <table class="table">
                        <!--This for loop looks at every key/property in the foundMovie object and makes a table with every key/property with it's respective value.-->
                            <% for (var key in foundMovie) { %>
                            <% if (key !== "poster" && key !=="type") {%>
                            <tr>
                                <td><%= key %></td>
                                <td><%= foundMovie[key] %></td>
                            </tr>
                            <% } %>
                            <% } %>
                        </table>
                    </div>    
                </div>

                <div class="row">
                    <div class=buttons>
                        <!--Originally, I wrote '/index' but that's actually not the url for the front page.-->
                        <a class="btn btn-warning" href=<%= '/' %>>Back</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

